@model PassionProject.Models.EmployeeDto

@{
    ViewBag.Title = "Details";
}


<a href="/Employee/List"> Go back to list</a>
<h2>EmployeeID: @Model.EmployeeId</h2>
<div>Name: @Model.Name</div>
<div>Bio: @Model.Bio</div>
